.logo1{
    padding-top: 190px;

}
.logo2{
    padding-top: 100px;
}
th{
   font-size: 40px;
    color:gainsboro;
    font-family:"cursive";
}
td{
    font-size: 22px;
    font-family: "MV Boli";
}
h1{
    font-size: 40px;
    font-family:"Script MT Bold";
}
